/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
/* Import Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';


/* General */
body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}


/* Navbar */
.sidebar {
    background-color: #f8f9fa;
    height: 100vh;
    padding-top: 20px;
}

.sidebar-heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.divider {
    border-top: 3px solid #ddd;
    margin: 10px 0;
}
